<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/bootstrap-css/bootstrap.css">
</head>
<body>
    <div class="container">
        <div class="text-white">
            <h2>부동산 서비스</h2>
        </div>
        <form method="POST">
            <div class="input-group input-group-lg w-50">
                <span class="input-group-text" id="inputGroup-sizing-lg"><img src="/template/img/person.png" height="30px" width="30px"></span>
                <input type="text" class="form-control" aria-label="Sizing example input" 
                    aria-describedby="inputGroup-sizing-lg" placeholder="아이디 입력">
            </div>
            <div class="input-group input-group-lg w-50">
                <span class="input-group-text" id="inputGroup-sizing-lg"><img src="/template/img/lock.png" height="30px" width="30px"></span>
                <input type="password" class="form-control" aria-label="Sizing example input" 
                    aria-describedby="inputGroup-sizing-lg" placeholder="비밀번호 입력">
            </div>
            <br />
            <div class="btn-group w-50" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-outline-primary">로그인</button>
            </div>
        </form>
        <br>
        <div class="row align-items-center w-50">
            <div class="col">
                <a class="btn btn-primary" data-bs-toggle="offcanvas" href="/template/findID.html" 
                    role="button" aria-controls="offcanvasExample">
                    아이디찾기
                  </a>
            </div>
            <div class="col">
                <a class="btn btn-primary" data-bs-toggle="offcanvas" href="/template/findPW.html" 
                    role="button" aria-controls="offcanvasExample">
                    비밀번호찾기
                  </a>
            </div>
            <div class="col">
                <a class="btn btn-primary" data-bs-toggle="offcanvas" href="/template/signup.html" 
                    role="button" aria-controls="offcanvasExample">
                    회원가입
                  </a>
            </div>
        </div>
    </div>
</body>
</html>