<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/bootstrap-css/bootstrap.css">
<style>
    li {
        list-style-type: none;
    }
    #logo {
        float: left;
    }
    #menu {
        float: right;
        font-size: 16px;
        margin-top: 20px;
        font-weight: bold;
        }
    #menu li {
        display: inline;
    }
    .item {
        margin: 0 20px 0 20px;
    }
</style>
</head>
<body>
<!--전체 네비게이션 바-->
<div style="
background-image: url(template\img\background.png);
">
<!--로고-->
    <div id="logo">
        <h3>Sniping Map</h3>
    </div>

<!--메뉴바-->
    <ul id="menu">
        <li class="item">Home</li>
        <li class="item">허위매물예방</li>
        <li class="item">피해대응메뉴얼</li>
        <li class="item">마이페이지</li>
    </ul>
</div>


</body>
</html>