<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap-css/bootstrap.css">
</head>
<body>
<style> 
li {
    list-style-type: none;
}
li{
    float: left;
}
</style>
<!--검색창-->
    <ul id="search-bar">
        <!--직접검색창-->
        <li class="item">
            <form>
                <input class="search my area" type="search" placeholder="검색어를 입력해주세요" aria-label="Search">
            </form>
        </li>
        <!--지역검색-->
        <li class="item">
            <div class="dropdown1">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  지역
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" href="#">서울</a></li>
                  <li><a class="dropdown-item" href="#">부산</a></li>
                  <li><a class="dropdown-item" href="#">인천</a></li>
                </ul>
              </div>
        </li>
        <!--거래종류-->
        <li class="item">
    <div class="dropdown"  clear both; float: left;>
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      거래종류
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
           <li><a class="dropdown-item" href="#">전세</a></li>
           <li><a class="dropdown-item" href="#">월세</a></li>
        </ul>
    </div>
        </li>
        <li class="item">
        <!--피해유형 선택창-->
            <div class="dropdown" clear both; float: left;>
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          피해유형
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
               <li><a class="dropdown-item" href="#">허위매물</a></li>
               <li><a class="dropdown-item" href="#">보증금미지급</a></li>
            </ul>
            </div>
        </li>
        <!--검색버튼-->
        <li class="item"><button type="button" class="btn btn-검색">검색</button></li>
        <!--글쓰기버튼-->
        <li class="item"><button type="button" class="btn btn-글쓰기">글쓰기</button></li>
    </ul>
</body>
</html>