<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/bootstrap-css/bootstrap.css">
    <style>
      .col {
    text-align: center;
      }
    ::placeholder {
        text-align: center;
    }
    </style>
</head>
<body>
    <div class="container">
        <div class="text-white">
            <h2>회원가입</h2>
        </div>
        <br>
    <form method="POST">
        <div class="input-group input-group-lg w-50">    
            <input type="text" class="form-control" aria-label="Sizing example input" 
                aria-describedby="inputGroup-sizing-lg" placeholder="아이디 입력">
        </div>
        <br>
        <div class="input-group input-group-lg w-50">
            <input type="password" class="form-control" aria-label="Sizing example input" 
                aria-describedby="inputGroup-sizing-lg" placeholder="비밀번호 입력">
        </div>
        <br>
        <div class="input-group input-group-lg w-50">
            <input type="password" class="form-control" aria-label="Sizing example input" 
                aria-describedby="inputGroup-sizing-lg" placeholder="비밀번호 확인">
        </div>
        <br>
        <div class="input-group input-group-lg w-50">
            <input type="text" class="form-control" aria-label="Sizing example input" 
                aria-describedby="inputGroup-sizing-lg" placeholder="휴대폰 번호 입력">
        </div>
        <br>
        <div class="row align-items-center w-50">
            <div class="col">
                <a class="btn btn-primary" data-bs-toggle="offcanvas" href="/template/findID.html" 
                    role="button" aria-controls="offcanvasExample">
                    확인
                  </a>
    </form>
    </div>
</body>
</html>