<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/bootstrap-css/bootstrap.css">
    <!-- <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/headers/"> -->
    <style>
        #nav-bar {
            display: inline-block;
            height: 60%;
            margin-top: 8px;
            width:100%;     
        }
        .fs-4 {
            color:white;
            float: left;
            margin: 0 0 0 60px; 
        }
        .nav-item {
            font-weight: bold;
            font-size: larger;
            text-align: center;
            display: inline;
            color: white;
            margin-right: 30px;
        }
 </style>
</body>
</html>